/* Mobile style */

body {
  margin: 0;
  background-color: #ede0d4;
  font-family: Baskerville, Helvetica, sans-serif;
  font-size: 1.1rem;
}

h1 {
  color: #050505;
  text-align: center;
  margin: 4.5em 1em 1em;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  color: #652613;
  padding-top: 1.5em;
  text-align: center;
  font-size: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-indent: 2em;
  text-align: justify;
}

.container > p {
  width: 60%;
  margin: 1em auto;
}

img {
  max-width: 100%;
  display: block;
} 

.image1 {
  width: 100%;
  height: auto;
}

.scroll-container {
  background-color: #304540;
  overflow: auto;
  white-space: nowrap;
  padding: 0.1em;
}

.scroll-container img {
  padding: 5px;
} 

.experience {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 0.2em;
}

.exp-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pos-one {
  font-weight: 600;
}

.year-one {
  margin-left: auto;
  font-weight: 600;
}

.descr-one {
  margin-right: auto;
  padding: 0.1em 4em 0.1em 0;
  text-align: justify;
  text-indent: 2em;
}

.exp-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}

.pos-two {
  font-weight: 600;
}

.year-two {
  margin-left: auto;
  font-weight: 600;
}

.descr-two {
  margin-right: auto;
  padding: 0.1em 4em 0.1em 0;
  text-align: justify;
  text-indent: 2em;
}

/* Connect section */

#connect, #leave_message, #messages {
  background-color: #c99f82;
  padding-bottom: 1em;
}

.links {
  padding: 2em 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links a {
  color: #ede0d4;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 1em;
}

.links a:hover,
.links a:focus {
  color: #6f460d;
  text-decoration: underline;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar {
  background-color: #2a3d39;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li {
    margin: 0 1em;
    font-size: 0.8rem;
}

nav a {
  color: #ede0d4;
  text-decoration: none;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #a68a64;
  text-decoration: underline;
}

/* Project section */

#projects ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;   
}

#projects li {
  padding: 0.5em;
  background-color: #d0bba7;
  width: 30%;
  margin-bottom: 0.2em;
  border-radius: 2px;
}

#projects a {
  color: #652613;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Skills section */

#skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#skills li {
  padding: 0.2em 0.5em;
  background-color: #d0bba7;
  width: fit-content;
  border-radius: 2px;
  margin-bottom: 0.2em;
}

/* Leave a message and message sections */

.flex_container {
  display: flex;
  flex-direction: column;
  margin: 0 6em;
}

.usersName, .email, .message {
  height: 3em;
  border: solid 0.2em #a68a64;
  border-radius: 0.6em;
  font-size: medium;
  text-indent: 2em;
}

.usersName:focus-visible, .email:focus-visible, .message:focus-visible, #messageText:focus-visible {
  border: solid 0.2em #2d6054;
  outline: none;
}

.message_list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em;
}

.message_list li span {
  height: 2.5em;
  width: 40%;
  border: solid 0.2em #a68a64;
  border-radius: 0.6em;
  font-size: medium;
}

.message_list textarea {
  height: 1.5em;
  width: 50%;
  border: solid 0.2em #645035;
  border-radius: 0.3em;
  font-size: medium;
}

.message_list a {
  color: #222f2c;
  font-size: 1.5rem;
  padding: .25em 0 .5em;
}

.message_list a:hover, .message_list a:focus {
  color: #2d6054;
}

button {
  background-color: #7e5c45;
  color: #fff;
  border: none;
  border-radius: 3px;
  max-height: 1.8em; 
  min-width: 4.5em;
  font-size: medium;
}

button:hover, button:focus {
  background-color: #b38364;
}

.submit_button {
  background-color: #7e5c45;
  color: #fff;
  border:none;
  border-radius: 5px;
  min-height: 2em; 
  min-width: 5em;
  font-size: medium;
  margin: 0 4em;
}

.submit_button:hover, .submit_button:focus {
  background-color: #b38364;
}

#leave_message, #messages {
  padding-bottom: 0;
}


/* Footer section */
footer {
  margin-top: 1em;
  padding: .5em 1em;
  background-color: #2a3d39;
  font-size: 0.8rem;
}
/* =====================================================
Tablet style */

@media (min-width: 600px) and (max-width: 1200px) {
  body {
    font-size: 1.2rem;
    background-color: #ede0d4;
  }

  .navbar {
    background-color: #7e5c45;
  }

  nav {
    height: 3.5em;
  }

  nav li {
    font-size: 1rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.3em;
  } 

  nav a:hover,
  nav a:focus {
    color: #652613;
  }

  h1 {
    font-size: 3.5rem;
    margin: 3em 1em 1em;
  }

  h2 {
    font-size: 2.2rem;
    padding-top: 2em;
  }

  .image1 {
    width: auto;
    height: 200px;
  }

  img {
    max-width: 100%;
    display: inline;
  }

  .scroll-container {
    background-color: #7f5539;
    flex-direction: column;
    padding: 0.35em;
  }  

  .scroll-container img {
    padding: 0.1em 0.08em 0;
    max-width: 100%;
  }

  .links {
    padding: 1.5em 8em;
  }
}


/* =======================================================================================
Desktop style */

@media (min-width: 1200px) {
  .image1 {
    width: auto;
    height: 300px;
  }

  img {
    max-width: 100%;
    display: inline;
  }
  
  .scroll-container {
    background-color: #304540;
    overflow: auto;
    white-space: nowrap;
    padding: 0.3em;
    flex-direction: column;
  }
  
  .scroll-container img {
    padding: 0.1em 0.1em 0;
    max-width: 100%;
  }

  nav {
    height: 4em;
  }

  nav li {
    font-size: 1.3rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5em;
  } 

  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 4rem;
    margin: 3em 1em 1em;
  }

  h2 {
    font-size: 2.5rem;
    padding-top: 3em;
  }

  .links {
    padding: 2em 10em;
  }

  .links > a {
    font-size: 1.4rem;
    margin: 0 2em;
  }

  /* Skills section */

  #skills ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: .5em 6em;
  } 

  /* Projects section */

  #projects ul {
    margin: 0 4em;
  }

  #projects li {
    width: 100%;
  }
  #projects a{
    font-size: 1.8rem;
    font-weight: 400;
  }

  #projects a:hover, #projects a:active {
    color: #b38364;
  }

  /* Buttons */

  button {
    border-radius:5px;
    max-height: 2em; 
    min-width: 5em;
    font-size: medium;
  }

  .submit_button {
    border-radius:10px;
    min-height: 2.5em; 
    min-width: 6em;
    font-size: large;
    margin: 0 7.5em;
  }

  /* Message list section */

  .message_list li {
    margin: 0 6em;
  }

  .message_list textarea {
    height: 2.5em;
    width: 50%;
    border: solid 0.2em #645035;
    border-radius: 0.6em;
    font-size: medium;
  }
  
  .message_list a {
    color: #222f2c;
    font-size: 2rem;
    padding: .25em 1em .5em;
  }

  .message_list a {
    font-size: 2rem;
    padding: .25em 1em .5em;
  }

  footer {
    font-size: 1.2rem;
  }
}


