body {
  background-color: #EDE0D4;
}

h1 {
  color: #050505;
  text-align: center;
  margin: 200px 50px 50px 50px;
  font-size: 80px;
  font-weight: 600px;
  font-family: Baskerville, Helvetica, sans-serif;
}

h2 {
  color: #652613;
  border-top: 10px solid rgb(91, 131, 118);
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-family: Baskerville bold;
}

p {
  margin: 0px 300px 50px;
  padding: 10px;
  font-family: Baskerville;
  text-indent: 3em;
  border-radius: 4px;
  font-size: 20px;
  text-align: justify;
}

img.image1 {
  width: 30%;
  height: 300px;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar {
    background-color: #2a3d39;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navbar > a {
    font-size: 20px;
    color: #EDE0D4;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: 0px 100px 50px;
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.exp-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos-one {
    font-weight: 600;
}

.year-one {
    margin-left: auto;
    font-weight: 600;
}

.descr-one {
    margin-right: auto;
    padding: 10px 100px 10px 0px;
    text-align: justify;
}

.exp-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.pos-two {
    font-weight: 600;
}

.year-two {
    margin-left: auto;
    font-weight: 600;
}

.descr-two {
    margin-right: auto;
    padding: 10px 90px 10px 0px;
    text-align: justify;
}

.links {
    background-color: #7F5539;
    padding: 30px 200px;
    display: flex;
}

.links > a {
    color: #EDE0D4;
    font-size: 18px;   
}

.gitlink {
    margin-left: auto;
}




