body {
  background-color: #496b64;
}

h1 {
  color: #050505;
  text-align: center;
  margin: 50px;
  font-size: 50px;
  font-weight: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #652613;
  border-top: 3px solid #652613;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0px 100px 50px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 3em;
  background-color: rgb(91, 131, 118);
  border-radius: 4px;
}

img.image1 {
  width: 30%;
  height: 300px;
}

ol {
  margin: 0px 100px 50px;
  background-color: rgb(91, 131, 118);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px 100px 50px;
  background-color: rgb(91, 131, 118);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
